@import url(custom.css);

html,
body {
	margin: 0;
	padding: 0;
}

pre {word-wrap: break-word;}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	color: inherit;
	-webkit-appearance: none;
	/*-moz-appearance: none;*/
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
  background: #eaeaea;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkAgMAAAANjH3HAAAADFBMVEXu7u7r6+vm5ubf39+t3zZzAAAH/UlEQVR4XnWW0WriihaGl0HFSKckQSUJrZhgJAnWZ2i8mj1UqbnaU6oY76ZUn0EDZ5gOUzFhzjAWlSTMGdqieYY6tKX1SsVK9aoVlcanOJ672Xv3PMHP4v/Wtxb0ppfd8WLxdPOv26v5rDuZPzvOi/NrWgda8HA+kfcibs6FoSERR/AYhnl5Gt7uZO29jb3mu7fhy+NOYyOx12mTJ836IbCYq1CTDCXPYHkJY8qVvJI3dKuMwO1oeD2/nuqr/s3D4F57nt2XV4vV85MFnlgACIFnUS9Hu8iAmxUEF8SEaBD+PNqJbzbb5MWX1sVZrnXcaVK5RGKzEwarouVNxcwrSRlnJVmR8Vo+Y2o6AXPnvjy7/m4+fF2n/LzujcyHdfLj4xAA5z0+mmYpoGjBR3IcR9EB3huKwYbtS+8kSm/jF5sbxVQ8vZe6SHQ2stkt0CUso9QwCVFwpqIweUM1oKBbEQSW07tBfzxyFub1bDH8dT25mY7rZ99XH4H3c2IIDboITqR50RMTI4EY5xUiMegcbZ+RzUTJTqR3NsPFP/Y29w4auS9fLkDXjEhGSybLuurKQ3k/r8hMzbWr5mE5uho6L7OT28W0+zi6thyne7V05g9LEGIxnvfEonTIjRMsQmM0HvMTjOiHN6nLsFAsVUtosdQWjpqtZrH0/jKcbUBN1QvJmq7JGsOqmSSLSLqkEUYFgbuHz+t+Vs/z1XI6mA213vDnYLxcOXOIstEI7RVRkcKiAkFCDCWDUdJDCdD68P48flbtpOuHxWypkaPeNcLN7GaqA7JsaeWMbML+uqWMXMuvcyNJxJWB3t3z8uyzczldTp9u67ezq9X4qrt6uv4GRCyK+LGIN0C4o26aEDFPEEdxhkVhr9E+vuxsNdonB83Wdvtz6/yyvZNI2SXAwCobrMSq0u5u2aURCmMUjEhS0uDVWRbfHldAoy6eRrwCgpGYKBKxWISM4ICLHBxvxDd37PBpFs3tJMJxO5VI8Id2sVoEqyBLjMHqmYKRrFV2y0YZVKtQQzC4WY3NiXkyXK5m81n/eTn6ejW/ubh5uQMq5F7TjATQKCeIokB5QjQdC+F8FP7Csn/74GInvJHIdv6wQZJVk1H2NVaWpYImWYai7jM4UajBaqJN7hc/6rWvo95g3F8+jl5O5jNnMAfGxXloH0/zKI5HiQiN0DEBjaCID8Lh8OarbMPrS2poFixfzp2T++Fq2nOeB4/D8XS5mBhLczEF1OcWfLSXpsUYHqAYQRQEGvFQgSjYh/Z2+1P8oHFuHzVPyVRLPEzQZ5RdhdeQVlVDj0B/NR7XF8545SxvJtZtr/8wcR7NbrcPBOrFPbQY8ATZgIAKHpGL0UyIwtzQ2jp+00lk9z7Em4eNevh9rlNNVxOn9iHUDLacByVZruWxSsFETEXRZa1g6dB9vB2vev3xw3Tyn5+9wa3Vux92H/T5DfjRwNpqpCfq5lBa8GOoy0thhAsPwLbdOEuR2WKDTG0Wt4WTD8Jxu9reODqDgpyRkF0XwxqKgVs4gUgRa1/B1Qw8jAbfvv3of1wOl1P1dzlA1ONlomgo9o89gtbBO/LkqNS5+NTyb/pPS6eX2beHp+lqFRjCUBBNL+/XymveDMW0LAWXdEKHv7jTmd/UK05vPPze+wlkKCiu52F5txhleS/hCZIhYGiMhWK6dbCVTmTj8VQj2/lQv6iel1o7x6ctUMCqWRlFrRAyzrJqhF2H5rGCpkC9O+x9XAxvlovnxcnL/H4xubkbd7vLMQhMMOYPxSgREymcQrkohQUCfjyEQdW236Atu5n7n3CqHbvZ2TrOpdvZFBhJQivUKlCRzXJ532VJhGbWaoqJwWK8vL+fjQZ3v4bz/uLaMbuPjrWY3H8HnguFWD5Co0TIAxwlun1uCgGa5aH+tlnqfMntvTts2o3ORmOr2HzDb1PpD5DUkxm1nEnuA6HKiMuK7FoVXVFNGR5ftIU5tM4t1XAmy8rtxbfRD+t2+LCAdUiQ5WL/1CkkLkvNo3bO3qinjz43q6X4H+HD0z/b6T1g9RqGFHRJLmRMi7As2ciYGURTMPg1H57/+Hp9dzUZLIdnH1fq9Xwyevl2NQYcxWNuf4AJrgVHkgTQlJ/kfbTAwN/PaPZLqp3aLoknUK5YOpZ3mWxmV4lo+zWNWEtVTaosDC+cZW/gzC573afBxdNIfZjOr67vRz/gb/IUOZGJsELUQ0G8KjROirntT/FcY+s0jdqljfhRvH3chIhuyMy+a7dm5C0TqxkVWdNxQ9UNGD8P/91/miwGY717NXi5uZtOZ5OrydQBlkcFP+lxsyQPrG8NHU9xiF8k/GDHbSHceSUNMmXJkPACW5FZuaAXCmpZLkhmXsJh9PX/EAeiGMEoUQgKQijEi7RA415PVPQECOh8Jg+/2/ZZwj5vnP8OBeA6prEFi00yCKFIu8iuXJPLZTOThLOrmx+j819Py7uvfz1FEBMRzktzLp/XTZAhn5uh/JSHFYIEVMnj6mFuL77XCif+PM1mU9SHo5SvVEyASciGgjOgl5Oyoii7+V3E3M+4pAz81khl9bM3ufo17027n+oTEHA2xPBi0M8GCI4OsQyEBDftDSFwGm++aWVTG9/t9wdbv8sbCvmyKe3qct6yQDNVg5EYJGIwlgsWt5Ppw3TlPI/vnmfrt2A6vuv35x975+AFmuACXgINoijOBUUyyrM8zfloKH4uthqvSQ6ISuV1JfwXb7b94C65p5AAAAAASUVORK5CYII=);
	color: #4d4d4d;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
     -moz-transition: opacity 0.15s linear;
      -ms-transition: opacity 0.15s linear;
       -o-transition: opacity 0.15s linear;
          transition: opacity 0.15s linear;
}
.tab-pane.fade { display: none; }

.fade.in {opacity: 1; }

.tab-content > .active { display: block;}
.fit {
width: 472px;
max-width: 33.3%;
vertical-align: top;
padding: 0;
border: 0;
height: 360px;
float: left;
}

.ac { text-align: center; }
.ar { text-align: right; }
.al { text-align: left; }

.inlined { display: inline-block; vertical-align: top;}
.relative { position: relative; }
.editing { border: 1px solid #39F; padding-left: 6px; }
.marge { margin-top: 42px; }
.full { width: 100%; }

.toolbar-fixed {
position: fixed;
top: 42px;
background: white;
width: 700px;
z-index: 9;
padding: 0.3em 0;
border-bottom: 2px solid #ddd;
}

.accordion-sub-header h2 { display: inline-block; vertical-align: middle; }
.thumbnail { line-height: 0; }




/* TOP TABS 
****************
*/
#flightTabs:hover { top: 0; }
#flightTabs {
display: block;
height: 42px;
position: absolute;
top: -40px;
left: 0;
right: 0;
margin: 0;
z-index: 30;
overflow: hidden;

background-color: #EEE;
background-repeat: repeat-x;
background-image: -moz-linear-gradient(top, whiteSmoke 0%, #EEE 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,whiteSmoke), color-stop(100%,#EEE));
background-image: -webkit-linear-gradient(top, whiteSmoke 0%,#EEE 100%);
background-image: -ms-linear-gradient(top, whiteSmoke 0%,#EEE 100%);
background-image: -o-linear-gradient(top, whiteSmoke 0%,#EEE 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 );
background-image: linear-gradient(top, whiteSmoke 0%,#EEE 100%);
border: 1px solid #E5E5E5;

-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
#flightTabs li { float: left; list-style: none; }

#flightTabs a {
	color: #08C;
text-decoration: none;
display: inline-block;
margin: 0;
padding-top: 11px;
padding-bottom: 11px;
padding-right: 12px;
padding-left: 12px;
border-left: 1px solid whiteSmoke;
border-right: 1px solid #E5E5E5;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}
#flightTabs .checkbox {
padding-top: 11px;
display: block;
padding-left: 13px;
}


/* WEATHER TAB 
******************
*/
#weather-images {
background: white;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 500px;
}

/* Weather Textual sidebar */
#weather-pad {
margin: 13px;
font-size: 22px;
line-height: normal;
}
#weather-text {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: auto;
background: rgba(238, 238, 238, 0.69);
width: 500px;
border-left: 1px solid #EEE;
}

/* Weather Clock */
#clock {
background: black;
text-align: center;
padding: 3px 22px;
font-size: 42px;
color: #3FC;
letter-spacing: 22px;
margin-bottom: 13px;
border-bottom: 1px solid gold;
}

/* Weather textual data */
.text-data {
padding-bottom: 13px;
border-bottom: 1px solid white;
margin-bottom: 13px;
text-align: justify;
}

/* FLIGHT TABLE */
#flight-table {
margin: 0;
padding: 0;
list-style: none;
background: rgba(255, 255, 255, 0.9);
border: 1px solid #CCC;
position: relative;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}
.b { text-align: center; border-collapse: collapse; border-top: 7px solid lavender; border-bottom: 7px solid lavender;
margin: 0; font-size: 42px; line-height: normal; color: #666; }
.b th,
.b tfoot td { font-size: 32px !important; font-weight: normal; background: #e8edff; border-right: 1px solid #9baff1; /*border-left: 1px solid #9baff1;*/ color: #38c; padding: 3px; cursor: pointer; text-transform: uppercase; }
.b td { background: #F6F6F6; border-right: 1px solid lavender; border-left: 1px solid lavender; padding: 1px 2px; }
.b select { margin-bottom: 0; }

#flight-table-body td {text-transform: uppercase; }
#flight-table tr {
	position: relative;
	border-bottom: 1px dotted #ccc;
}
#flight-table tr:last-child {border-bottom: none; }

#flight-table tr label {
	display: inline-block;
	line-height: 1.2;
	-webkit-transition: color 0.4s;
	-moz-transition: color 0.4s;
	-ms-transition: color 0.4s;
	-o-transition: color 0.4s;
	transition: color 0.4s;
}

#flight-table tr.completed label {
	color: #a9a9a9;
	text-decoration: line-through;
}





/* TABLE COLORS */
.departed td {background: rgba(0, 143, 255, 0.42); }
.departed .first {
background: #1D567C;
color: #D4E2EC;
}

.delayed td {background: rgba(255, 71, 0, 0.42); }
.delayed .first {
background: #7C2C1D;
color: #ECD4D4;
}
.pending td {background: rgba(255, 253, 196, 0.42); }
.pending .first {
background: #7C781D;
color: #EBECD4;
}
.on-time td {background: rgba(176, 240, 94, 0.42); }
.on-time .first {
background: #527C1D;
color: #E8ECD4;
}
.arrived td {background: rgba(185, 135, 47, 0.42);}
.arrived .first {
background: #7C561D;
color: #ECE0D4;
}
.canceled td {
background: black;
color: #EEE;
}
.canceled .first {
background: red;
color: white;
}

.first {
text-transform: uppercase;
font-size: 20px;
font-weight: bold;
}







/* FLIGHT LIST TAB
*********************
*/
#flight-list {
	margin: 0;
	padding: 0;
	list-style: none;

	background: rgba(255, 255, 255, 0.9);
	border: 1px solid #ccc;
	position: relative;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
				0 25px 50px 0 rgba(0, 0, 0, 0.15);

}

#flight-list li {
	position: relative;
	font-size: 24px;
	border-bottom: 1px dotted #ccc;
}

#flight-list li:last-child {
	border-bottom: none;
}

#flight-list li.editing {
	border-bottom: none;
	padding: 0;
}

#flight-list li.editing .edit {
	display: block;
	width: 506px;
	padding: 13px 17px 12px 17px;
	margin: 0 0 0 43px;
}

#flight-list li.editing .view {
	display: none;
}

#flight-list li .toggle {
	text-align: center;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	border: none; /* Mobile Safari */
	-webkit-appearance: none;
	/*-moz-appearance: none;*/
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

#flight-list li .toggle:after {
	font-size: 18px;
	content: '✔';
	line-height: 43px; /* 40 + a couple of pixels visual adjustment */
	font-size: 20px;
	color: #d9d9d9;
	text-shadow: 0 -1px 0 #bfbfbf;
}

#flight-list li .toggle:checked:after {
	color: #85ada7;
	text-shadow: 0 1px 0 #669991;
	bottom: 1px;
	position: relative;
}

#flight-list li label {
	word-break: break-word;
	margin: 15px 15px 15px 60px;
	display: inline-block;
	line-height: 1.2;
	-webkit-transition: color 0.4s;
	-moz-transition: color 0.4s;
	-ms-transition: color 0.4s;
	-o-transition: color 0.4s;
	transition: color 0.4s;
}

#flight-list li.completed label {
	color: #a9a9a9;
	text-decoration: line-through;
}

#flight-list li .destroy {
	display: none;
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	width: 40px;
	height: 40px;
	margin: auto 0;
	font-size: 22px;
	color: #a88a8a;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

#flight-list li .destroy:hover {
	text-shadow: 0 0 1px #000,
				 0 0 10px rgba(199, 107, 107, 0.8);
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
	transform: scale(1.3);
}

#flight-list li .destroy:after {
	content: '✖';
}

#flight-list li:hover .destroy {
	display: block;
}

#flight-list li .edit {
	display: none;
}

#flight-list li.editing:last-child {
	margin-bottom: -1px;
}




/* TIME PICKER PLUGIN */
div.time-picker {
  position: absolute;
  height: 191px;
  width:4em; /* needed for IE */
  overflow: auto;
  background: #fff;
  border: 1px solid #aaa;
  z-index: 99;
  margin: 0;
}
div.time-picker-12hours {
  width:6em; /* needed for IE */
}

div.time-picker ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div.time-picker li {
  cursor: pointer;
  height: 10px;
  font: 12px/1 Helvetica, Arial, sans-serif;
  padding: 4px 3px;
}
div.time-picker li.selected {
  background: #0063CE;
  color: #fff;
}




/* ADMIN NEW FLIGHT LAYOUT 
*****************************
*/
th i {
font-size: 18px;
margin-top: 12px;
margin-left: 3px;
margin-right: 3px;
}

#admin-flights {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 310px;
}
#admin-new-flight {
position: fixed;
top: 0;
bottom: 0;
left: auto;
right: 0;
width: 310px;
background: #ddd;
}
#admin-new-flight #form {
position: absolute;
top: 6px;
bottom: 6px;
left: 6px;
right: 6px;
background: white;
margin: 0;
padding: 9px;
border: 1px solid;
border-bottom-color: #AAA;
border-left-color: #CCC;
border-right-color: #CCC;
border-top-color: #DDD;
}